<footer id="footer" class="footer container-fluid text-center">
  <div class="footermain"><p>&copy; 2023 <%= _NAME %></p></div>
</footer>
<script src="https://cdn.jsdelivr.net/gh/cdnxyz/link-protector@main/dropzone.js"></script>
</body>
</html>
