<!DOCTYPE html>
<html lang="en">
<head>  
  <title><%= _NAME %> - All Your Links Take Safe</title>
  <link rel="icon" href="https://s19.postimg.org/5k4l73j1f/favicon.png">
  <meta charset="utf-8">
  <meta name="Mediapartners-Google" content="index">
  <meta name="description" content="<%= _NAME %> - Protect your links with Linkstaker and share any time to any one. its also shoter your links, torrent upload and Google drive Downloa and embed">
    <meta name="keywords"    content="file upload,share files,free upload, google drive embed, google drive download, torrent upload, torrent magnet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/cdnxyz/link-protector@main/main.js"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/cdnxyz/link-protector@main/main.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/cdnxyz/link-protector@main/style.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid" >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">
        <img src="https://cdn.jsdelivr.net/gh/cdnxyz/link-protector@main/logo.jpg" alt="Logo" style="background: #fff;">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

